a {
    color: inherit;
    text-decoration-color: inherit;
}

div.container {
    display: flex;
    flex-direction: column;
    padding-top: 1.5em;
}

div.table {
    border: 1px solid dimgray;
    display: table;
}

/* this is really more of a cell than a column */
div.column {
    border-left: 1px solid dimgray;
    border-right: 1px solid dimgray;
    display: table-cell;
    overflow: hidden;
    padding-top: 2px;
    padding-bottom: 0px;
    padding-left: 1em;
    padding-right: 1em;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

div.columnheader {
    border-bottom: 1px solid dimgray;
    padding-bottom: 5px;
    padding-top: 5px;
}

div.document_body_container {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
}

div.document_panel_header {
    padding-bottom: 5px;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 5px;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}

div.no_expand {
    display: inline-block;
    width: fit-content;
}

div.person_bio_panel {
    margin-bottom: 6px;
    margin-left: auto;
    margin-right: 0;
}

div.row {
    display: table-row;
}

div.table_container {
    max-width: 99%;
    width: 99%;
}

li {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Menlo,'DejaVu Sans Mono',consolas,'Courier New',monospace;
}

pre {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Menlo,'DejaVu Sans Mono',consolas,'Courier New',monospace;
}

ul.no_bullets {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
